{% extends "base/layout.html" %}

{% block title %}{{ documentary.title }}{% endblock %}

{% block content %}
<h1 class="font-mono text-3xl font-bold text-blue-500">{{ documentary.title }}</h1>
<div class="py-4">
  {% if documentary.year %}
  <p><span class="text-blue-900 font-semibold">Year:</span> <span class="text-base text-gray-700">{{ documentary.year }}</span></p>
  {% endif %}
  {% if documentary.duration %}
  <p><span class="text-blue-900 font-semibold">Duration:</span> <span class="text-base text-gray-700">{{ documentary.duration }}</span></p>
  {% endif %}
</div>
<div class="py-4">
  {% for tag in documentary.tags %}
  {% include "base/tag.html" with tag=tag %}
  {% endfor %}
</div>
<div class="py-4">
  {% if documentary.description %}
  <p class="text-base text-gray-700 text-justify">{{ documentary.description }}</p>
  {% else %}
  <p class="text-base text-gray-700 text-justify">There is not a description.</p>
  {% endif %}
</div>
<div class="py-4">
  <p class="text-blue-900 font-medium leading-none">sitios:</p>
  <ul class="py-4">    
    {% for site in documentary.sites.all %}
    <li><p class="text-blue-900 font-semibold text-sm leading-none"><a target="blank" href="{% url 'redirect' site.id %}">&#8227; {{ site.name }}</a></p></li>
    {% endfor %}
  </ul>
</div>
<div class="py-4">
  <a id="link" class="text-blue-500 font-bold" href="#" onclick="show_form(event)">Reportar enlace roto.</a>
  <form id="report" class="w-full max-w-lg py-4 hidden" method="POST" action="{% url 'report' %}">
    {% csrf_token %}
    <div class="grid grid-cols-1 gap-4">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold">Enlace:</label>
      <select name="site" class="block appareance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
        {% for site in documentary.sites.all %}
        <option value="{{ site.id }}">{{ site.name }}</option>
        {% endfor %}
      </select>
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold">Comentario:</label>
      <textarea name="comment" class="appareance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
      <button class="shadow bg-teal-500 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">enviar
      </button>
    </div>
  </form>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  function show_form(event) {
    event.preventDefault();
    form_classes = document.getElementById('report').classList;
    link = document.getElementById('link')
    if (form_classes.contains('hidden')) {
      form_classes.remove('hidden');
      link.text = "Ocultar formulario."
    } else {
      form_classes.add('hidden');
      link.text = "Reportar enlace roto."
    }
  }
</script>
{% endblock %}