{% extends "base/layout.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1 class="font-mono text-3xl font-bold text-blue-500">Documentales</h1>
<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 mt-4">
  {% for documentary in documentaries %}
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-blue-500 text-xl mb-2">{{ documentary.title }}</div>
        {% if documentary.description %}
        <p class="text-gray-700 text-base">{{ documentary.description|truncatewords:50 }}</p>
        {% else %}
        <p class="text-gray-700 text-base">...</p>
        {% endif %}
      </div>
      <div class="px-6 py-4">
        {% for tag in documentary.tags.all %}
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mt-2">{{ tag.value }}</span>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
<div class="grid grid-cols-1 gap-4 text-center my-8">
  <div>
    {% if documentaries.has_previous %}
    <span>
      <a href="{% url 'index' %}?page=1"><</a>
    </span>
    {% endif %}
    <span class="text-gray-700 font-bold">
      {{ documentaries.number }} de {{ documentaries.paginator.num_pages }}
    </span>
    {% if documentaries.has_next %}
    <span>
      <a href="{% url 'index' %}?page={{documentaries.next_page_number}}">></a>
    </span>
    {% endif %}
  </div>
</div>
{% endblock %}