<div class="max-w-xl w-full rounded overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="font-semibold text-blue-800 text-xl mb-2"><a href="{% url 'detail' documentary.slug %}">{{ documentary.title }}</a></div>
    {% if documentary.description %}
    <p class="text-gray-700 text-base">{{ documentary.description|truncatewords:50 }}</p>
    {% else %}
    <p class="text-gray-700 text-base">There is not a description.</p>
    {% endif %}
  </div>
  <div class="px-6 py-4">
    <p class="text-blue-900 font-medium leading-none">sitios:</p>
    <ul class="py-4">    
    {% for site in documentary.sites.all %}
    <li><p class="text-blue-900 font-semibold text-sm leading-none"><a target="blank" href="{% url 'redirect' site.id %}">&#8227; {{ site.name }}</a></p></li>
    {% endfor %}
    </ul>
  </div>
  <div class="px-6 py-4">
    {% for tag in documentary.tags %}
    {% include "components/tag.html" with tag=tag %}
    {% endfor %}
  </div>
</div>