<div class="grid grid-cols-1 gap-4 text-center my-8">
  <div>
    {% if paginator.has_previous %}
    <span class="text-blue-500 font-bold">
      {% if words == "" %}
      <a href="{% url 'search' %}?page={{paginator.previous_page_number}}">&#10094; </a>
      {% else %}
      <a href="{% url 'search' %}?query={{words}}&page={{paginator.previous_page_number}}">&#10094; </a>
      {% endif %}
    </span>
    {% endif %}
    <span class="text-gray-700 font-bold">
      {{ paginator.number }} de {{ paginator.paginator.num_pages }}
    </span>
    {% if paginator.has_next %}
    <span class="text-blue-500 font-bold">
      {% if words == "" %}
      <a href="{% url 'search' %}?page={{paginator.next_page_number}}"> &#10095;</a>
      {% else %}
      <a href="{% url 'search' %}?query={{words}}&page={{paginator.next_page_number}}"> &#10095;</a>
      {% endif %}
    </span>
    {% endif %}
  </div>
</div>