{% extends "base/layout.html" %}

{% block title %}Acerca de{% endblock %}

{% block content %}
<h1 class="font-mono text-3xl font-bold text-blue-500">Documentaries</h1>
<div class="py-4">
  <p class="text-base text-gray-700 text-justify font-mono">Documentaries es un proyecto creado para ser un buscador de documentales.</p>
  <p class="my-2 text-base text-gray-700 text-justify font-mono">Este proyecto se crea por la necesidad de practicar <a class="text-blue-700" href="https://es.wikipedia.org/wiki/Web_scraping" target="blank">WEB SCRAPING</a> y <a class="text-blue-700" href="https://www.djangoproject.com/" target="blank">DJANGO</a>. Los documentales son extraídos de las siguientes páginas:</p>
  <ul class="my-4 text-base text-blue-700 text-justify font-mono">
    <li><a href="https://www.documentarymania.com/" target="blank">&#8227; Documentary Mania</a></li>
    <li><a href="http://www.documentarytube.com/" target="blank">&#8227; DocumentaryTube</a></li>
    <li><a href="https://documentaryaddict.com" target="blank">&#8227; Documentary Addict</a></li>
    <li><a href="https://documentaryheaven.com" target="blank">&#8227; Documentary Heaven</a></li>
    <li><a href="https://topdocumentaryfilms.com" target="blank">&#8227; Top Documentary Films</a></li>
  </ul>
  <p class="text-base text-gray-700 text-justify font-mono">El código del scraping y el de este sitio están en <a target="blank" class="text-blue-700" href="https://gitlab.com/unrecano/documentaries.web">gitlab</a> y <a target="blank" class="text-blue-700" href="https://github.com/unrecano/documentaries.web">github</a>.</p>
</div>
{% endblock %}