{% extends "base/layout.html" %}

{% block title %}Buscar{% endblock %}

{% block content %}
<div class="grid grid-cols-1 gap-4 text-center lg:grid-cols-3">
  <form class="w-full max-w-sm lg:col-start-2 lg:col-span-1" action="{% url 'search' %}">
    <div class="flex items-center border-b border-b-2 border-blue-500 py-2">
      <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
             type="text" name="query" placeholder="drugs accidents 911" aria-label="query search" value="{{ words }}">
      <button class="flex-shring-0 bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-sm border-4 text-white py-1 px-2 rounded"
              type="submit">buscar</button>      
    </div>
    <br>
    <p class="text-gray-700 text-sm">Busca entre {{ total }} documentales.</p>
  </form>
</div>
<h1 class="my-8 font-mono text-3xl font-bold text-blue-500">Documentales</h1>
{% if words != "" %}
<p class="text-gray-700 text-sm">Se encontraron {{ results }} coincidencias.</p>
{% endif %}
<div class="my-8 grid grid-cols-1 gap-4 lg:grid-cols-2">
  {% for documentary in documentaries %}
  {% include 'components/documentary.html' with documentary=documentary %}
  {% empty %}
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 text-center">
    <p class="text-gray-700 font-bold text-lg">No hay resultados.</p>
  </div>
  {% endfor %}
</div>
{% if documentaries|length > 0 %}
{% include "components/paginator.html" with paginator=documentaries words=words %}
{% endif %}
{% endblock %}